* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
  cursor: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0b0b0b;
  z-index: 999;
  padding: 22vh 10vw;
}
#loader .line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1.8vw;
}
#loader .line1 {
  margin-left: 2.5vw;
}
#loader .line3 {
  letter-spacing: 0.15vw;
}
#loader #line1-part1 {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.7vw;
  text-align: center;
  margin-top: 1.3vh;
}
#loader .line1 h1 {
  margin-left: 1.3vw;
}
#loader #line1-part1 h5,
#loader #line1-part1 h6 {
  font-size: 2.8vw;
  font-family: "silk serif";
  font-weight: 300;
}
#loader #line1-part1 h5 {
  width: 4vw;
  text-align: right;
}
#loader .line h1,
#loader .line h2 {
  font-size: 6.3vw;
  text-transform: uppercase;
  font-weight: 700;
}
#loader .wait-msg {
  margin-left: 20vw;
  margin-top: 6vh;
  font-size: 1vw;
}

#crsr {
  position: fixed;
  height: 2.5vw;
  width: 2.5vw;
  border: 2px solid #a4a4a4;
  border-radius: 50%;
  display: none;
  z-index: 999999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#main {
  position: relative;
}
.loader-effect {
  height: 100vh;
  width: 100%;
  background: #000;
}
.page1 {
  height: 100vh;
  width: 100%;
}
.page1 nav {
  padding: 6.3vh 4.5vw;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.page1 nav .nav-left {
  display: flex;
  align-items: start;
  gap: 2.2vw;
}
.page1 nav .nav-left img {
  padding-bottom: 0.8vh;
}
.page1 nav .nav-middle {
  width: 38vw;
  display: flex;
  flex-direction: column;
}
.page1 nav .nav-middle a {
  width: fit-content;
  text-decoration: none;
  font-size: 1vw;
  cursor: none;
}
.page1 nav .nav-right {
  display: flex;
  align-items: center;
  gap: 2.2vw;
}
.page1 nav .nav-right a {
  text-decoration: none;
  font-size: 1vw;
  cursor: none;
}

.page1 .after-nav .center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 .after-nav .center-content .intro-section {
  display: flex;
  align-items: start;
  padding-top: 8.1vh;
}
.page1 .after-nav .center-content .intro-section > span {
  padding-right: 5.4vw;
  font-size: 3vw;
  font-family: "Silk Serif";
}
.page1 .after-nav .center-content .intro-content {
  line-height: 7vh;
  padding-top: 3.4vh;
  padding-right: 4vw;
}
.page1 .after-nav .center-content .intro-content span {
  font-size: 7.2vw;
  font-family: "Plain Regular";
  text-transform: uppercase;
  letter-spacing: -0.2vw;
}
.page1 .after-nav .center-content .intro-content .web-design span:nth-child(1) {
  width: max-content;
  position: relative;
}
.page1 .after-nav .center-content .intro-content .web-design span:nth-child(2) {
  margin-left: 3vw;
  position: relative;
}
.page1
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(2):before {
  content: "/";
  position: absolute;
  color: #ffffff;
  left: -2.6vw;
}
.page1
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(2)::after,
.page1
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2vh;
  background: #ffffff;
  left: 0;
  bottom: 0;
}
.page1 .after-nav .center-content .intro-content .hero-anim {
  display: block;
}

.page1 .scroll-text {
  height: 20px;
  overflow: hidden;
  position: relative;
}
.page1 .scroll-text div {
  position: absolute;
  color: rgba(128, 128, 128, 0.499);
  font-weight: 700;
  font-size: 1vw;
  width: 100%;
  left: 4.5vw;
  animation: scroll-up 2s linear infinite;
}
@keyframes scroll-up {
  0% {
    top: -100%;
  }
  45% {
    top: 0%;
  }
  55% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
.page1
  .after-nav
  .center-content
  .intro-section
  .intro-content
  .web-design
  .wd-text:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.page1
  .after-nav
  .center-content
  .intro-section
  .intro-content
  .web-design
  .wd-text:hover::after {
  opacity: 0;
}
.page1 #flag {
  height: 24vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.page1 #flag img {
  height: 100%;
  width: 100%;
}

.page2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.page2 .video-container {
  position: relative;
  height: 65vh;
  width: 71.5vw;
  top: -3.2vh;
}
.page2 .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page2 .video-container img {
  position: absolute;
  top: -1vh;
  height: 102%;
  width: 100%;
  object-fit: cover;
}
.page2 .video-container .play-btn {
  position: absolute;
  top: -17%;
  right: 12vw;
  z-index: 99;
  height: 10vw;
  width: 10vw;
  font-size: 2.4vw;
  border-radius: 50%;
  background: #ffa63d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3 {
  width: 100%;
}
.page3 .p3-top {
  width: 100%;
  display: flex;
  align-items: start;
  padding: 0 5vw 0 8vw;
}
.page3 .p3-top .number {
  width: 18vw;
  text-align: right;
  font-family: "Silk Serif";
  font-size: 3.2vw;
}
.page3 .p3-top .heading {
  width: 100%;
  padding-left: 5.6vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 7.4vh;
}
.page3 .p3-top .heading .title {
  font-size: 7.2vw;
  text-transform: uppercase;
  font-weight: 900;
}
.page3 .p3-top .heading .line {
  width: 100%;
  height: 2px;
  background: white;
}
.page3 .image-effect-container {
  width: 100%;
  height: 100%;
  padding: 16vh 4.5vw 7vh 4.5vw;
}
.page3 .image-effect-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.page3 .image-effect-container .content .container1 {
  width: 26%;
  height: 100%;
}
.page3 .image-effect-container .content .container2 {
  width: 34%;
  height: 100%;
}
.page3 .image-effect-container .content .container3 {
  width: 35%;
  height: 100%;
}
.page3 .image-effect-container .content .container .c1-box1 {
  display: flex;
  flex-direction: column;
  gap: 4.5vh;
}
.page3 .image-effect-container .content .container .c1-box1 .text {
  font-size: 2.7vw;
  font-weight: 700;
}
.page3 .image-effect-container .content .container .c1-box1 .image-box {
  width: 100%;
  height: 57vh;
  position: relative;
}
.page3 .image-effect-container .content .container .c1-box1 .image-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}
.page3 .image-effect-container .content .container .c1-box1 .c1-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
}
.page3 .image-effect-container .content .container .c1-box1 .c1-line {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.392);
}
.page3 .image-effect-container .content .container .c1-circle-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3
  .image-effect-container
  .content
  .container
  .c1-circle-container
  .c1-center-circle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3
  .image-effect-container
  .content
  .container
  .c1-circle-container
  .c1-circle {
  height: 45vh;
  width: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.39);
  border-radius: 50%;
  position: relative;
}
.page3
  .image-effect-container
  .content
  .container
  .c1-circle-container
  .c1-circle
  .c1-circle-after-hover {
  display: none;
  height: 0%;
  width: 0%;
  text-wrap: nowrap;
  border-radius: 50%;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}
.page3
  .image-effect-container
  .content
  .container
  .c1-circle-container
  .c1-circle
  .c1-circle-after-hover
  .text {
  color: black;
  scale: 0;
  pointer-events: none;
}
.page3
  .image-effect-container
  .content
  .container
  .c1-circle-container
  .c1-circle
  svg {
  width: 6vw;
  rotate: -45deg;
  position: absolute;
  pointer-events: none;
}
.page3 .image-effect-container .content .container2 .c1-box1 .image-box {
  height: 80vh;
}
.page3 .image-effect-container .content .container2-3 .c2-gap-2-3 {
  width: 100%;
  height: 16vh;
}
.page3 .image-effect-container .content .container2-3 .c1-circle-container {
  height: 112vh;
  align-items: end;
  justify-content: end;
}
.page3
  .image-effect-container
  .content
  .container2-3
  .c1-circle-container
  .c1-center-circle {
  justify-content: end;
}
.page3
  .image-effect-container
  .content
  .container2
  .c1-circle-container
  .c1-center-circle
  .c1-circle
  svg {
  rotate: -90deg;
}
.page3 .image-effect-container .content .container3 .c1-circle-container {
  height: 104vh;
  align-items: end;
  justify-content: end;
}
.page3
  .image-effect-container
  .content
  .container3
  .c1-circle-container
  .c1-center-circle
  .c1-circle
  svg {
  rotate: 0deg;
}
.page3 .image-effect-container .content .container3 .c1-box1 .image-box {
  height: 76vh;
}
.page3 .image-effect-container .content .container3 .c2-gap {
  height: 32vh;
}

.page4 {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 .btn {
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  background: #ffa63d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 .btn span {
  font-family: "Silk Serif";
  font-size: 1.1vw;
}

.page5 {
  width: 100%;
}
.page5 .p5-start {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.page5 .p5-start .p5-left {
  width: 23vw;
  text-align: right;
  font-family: "Silk Serif";
  font-size: 3.2vw;
}
.page5 .p5-start .p5-right {
  width: calc(100% - 28vw);
  padding-right: 5vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 6vh;
}
.page5 .p5-start .p5-right .p5-topic {
  text-transform: uppercase;
  font-size: 7.4vw;
  font-weight: 800;
}
.page5 .p5-start .p5-right .p5-topic-line {
  width: 100%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.395);
}
.page5 .p5-start .p5-right .p5-intro {
  font-size: 2.3vw;
  width: 56%;
}
.page5 .p5-start .p5-right .p5-details {
  width: 100%;
  position: relative;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text {
  display: flex;
  align-items: start;
  gap: 2.2vw;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text img {
  height: 82vh;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div {
  font-size: 1vw;
  line-height: 3vh;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div:nth-child(1) {
  margin-bottom: 4vh;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards {
  width: 33.2vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4.5vh;
  position: absolute;
  right: 12%;
  bottom: -68%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9vh 0;
  background: #3f7df4;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list {
  width: 76%;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list .p5-awwwards-text {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 4.5vh;
}
.page5
  .p5-start
  .p5-right
  .p5-details
  .p5-awwwards
  .p5-list
  .p5-awwwards-text
  .p5-title
  div:nth-child(1) {
  font-size: 1.6vw;
}
.page5
  .p5-start
  .p5-right
  .p5-details
  .p5-awwwards
  .p5-list
  .p5-awwwards-text
  .p5-title-des {
  font-size: 1vw;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list .p5-list-line {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.392);
}
.page5 .p5-start .p5-right .p5-right-last {
  width: 100%;
}
.page5 .p5-start .p5-right .p5-right-last .line {
  width: 100%;
  height: 2px;
  margin-top: 75vh;
  background: rgba(255, 255, 255, 0.396);
}
.page5 .p5-start .p5-right .p5-right-last .text {
  font-size: 1vw;
  margin-top: 4vh;
}

.page6 {
  width: 100%;
  padding: 10vh 0;
}
.page6 .p6-elem-1,
.page6 .p6-elem-2 {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: -4vh;
}
.page6 .p6-elem-1 h1,
.page6 .p6-elem-2 h1 {
  text-transform: uppercase;
  font-size: 7vw;
  font-weight: 400;
  -webkit-text-stroke: 1px white;
  color: transparent;
  display: inline-block;
  animation: page6Anim 14s infinite linear;
}
.page6 .p6-elem-2 h1 {
  animation-direction: reverse;
}
.page6 .p6-elem-1 h1 span,
.page6 .p6-elem-2 h1 span {
  font-family: "Silk Serif";
  -webkit-text-stroke: 1px white;
  color: transparent;
}
@keyframes page6Anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-100%);
  }
}

.page7 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page7 .p7-center {
  width: 100%;
  padding: 0 5vw 0 8vw;
}
.page7 .p7-center .p7-content {
  display: flex;
  align-items: start;
  padding-top: 2vh;
}
.page7 .p7-center .p7-content .p7-left {
  width: 18vw;
  text-align: right;
  font-family: "Silk Serif";
  font-size: 3.2vw;
}
.page7 .p7-center .p7-content .p7-right {
  width: 100%;
  padding-left: 5.6vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 7.4vh;
}
.page7 .p7-center .p7-content .p7-right .hover-anim {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 7.2vw;
  text-transform: uppercase;
  font-weight: 900;
}
.page7 .p7-center .p7-content .p7-right .hover-anim svg {
  width: 5vw;
  rotate: -90deg;
}
.page7 .p7-center .p7-content .p7-right .line {
  width: 100%;
  height: 2px;
}
.page7 .p7-center .p7-content .p7-right .line1 {
  background: white;
  margin: 0 0 3vh 0;
}
.page7 .p7-center .p7-content .p7-right .line2 {
  background: rgba(255, 255, 255, 0.396);
  margin: 7vh 0 -1vh 0;
}
.page7 .p7-center .p7-content .p7-right .links {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-right: 8vw;
}
.page7 .p7-center .p7-content .p7-right .links .info-title {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.884);
  padding-bottom: 3.2vh;
}
.page7 .p7-center .p7-content .p7-right .links .info .title-des {
  font-weight: 600;
  font-size: 1.7vw;
}

@media (max-width: 1024px) {
  .page1 nav {
    padding: 3vh 2vw;
  }
  .page1 nav .nav-middle {
    width: 38vw;
  }
  .page1 nav .nav-middle a {
    font-size: 1.5vw;
  }
  .page1 nav .nav-right {
    gap: 2.6vw;
  }
  .page1 nav .nav-right a {
    font-size: 1.5vw;
  }
  .page1 .after-nav .center-content .intro-section {
    padding-top: 16vh;
  }
  .page1 .after-nav .center-content .intro-section > span {
    font-size: 3vw;
    padding-top: 1.5vh;
  }
  .page1 .after-nav .center-content .intro-content {
    line-height: 5vh;
  }
  .page1 .after-nav .center-content .intro-content span {
    font-size: 7.6vw;
    letter-spacing: -0.1vw;
  }
  .page1
    .after-nav
    .center-content
    .intro-content
    .web-design
    span:nth-child(2)::after,
  .page1
    .after-nav
    .center-content
    .intro-content
    .web-design
    span:nth-child(1)::after {
    height: 0.9vh;
  }
  .page1 .scroll-text {
    display: none;
  }
  .page1 #flag {
    top: 16vh;
  }

  .page2 {
    height: 70vh;
  }
  .page2 .video-container {
    height: 50vh;
    width: 74vw;
  }

  .page3 .p3-top {
    padding: 0 6vw 0 6vw;
  }
  .page3 .image-effect-container {
    padding: 16vh 2vw 7vh 2vw;
  }
  .page3 .image-effect-container .content {
    display: block;
  }
  .page3 .image-effect-container .content .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page3 .image-effect-container .content .container .c1-box1 {
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
    margin-top: 3vh;
  }
  .page3 .image-effect-container .content .container .c1-box1 .image-box {
    width: 46.4vw;
    height: 73vh;
  }
  .page3 .image-effect-container .content .container .c1-box1 .c1-tags {
    font-size: 1.4vw;
  }
  .page3 .image-effect-container .content .container .c1-circle-container {
    display: none;
  }
  .page3 .image-effect-container .content .container2-3 .c2-gap-2-3 {
    width: 100%;
    height: 0vh;
  }
  .page3 .image-effect-container .content .container3 .c2-gap {
    height: 0vh;
  }

  .page4 {
    height: 80vh;
  }
  .page4 .btn {
    width: 26vw;
    height: 26vw;
  }

  .page5 .p5-start .p5-left {
    width: 21vw;
    padding-top: 1vh;
  }
  .page5 .p5-start .p5-right {
    width: calc(100% - 26vw);
    gap: 5vh;
  }
  .page5 .p5-start .p5-right .p5-intro {
    font-size: 3vw;
    width: 89%;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text img {
    height: 57vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div {
    font-size: 1.5vw;
    line-height: 3vh;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-img-text
    .p5-text
    div:nth-child(1) {
    margin-bottom: 2.5vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards {
    width: 85%;
    gap: 3vh;
    right: 0%;
    bottom: -60%;
    padding: 3vh 0;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list {
    width: 90%;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text {
    margin-bottom: 3vh;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title
    div:nth-child(1) {
    font-size: 2vw;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title
    div:nth-child(2) {
    display: none;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title-des {
    width: 60%;
    display: flex;
    flex-direction: row;
    font-size: 1.4vw;
    text-align: right;
  }
  .page5 .p5-start .p5-right .p5-right-last .line {
    margin-top: 52vh;
  }
  .page5 .p5-start .p5-right .p5-right-last .text {
    font-size: 1.4vw;
  }

  .page6 {
    width: 100%;
    padding: 7vh 0 26vh;
  }
  .page6 .p6-elem-1 h1,
  .page6 .p6-elem-2 h1 {
    font-size: 7.5vw;
  }

  .page7 .p7-center {
    padding: 0 5vw 0 6vw;
  }
  .page7 .p7-center .p7-content {
    padding-top: 10vh;
  }
  .page7 .p7-center .p7-content .p7-left {
    padding-top: 1vh;
  }
  .page7 .p7-center .p7-content .p7-right {
    gap: 3.4vh;
  }
  .page7 .p7-center .p7-content .p7-right .hover-anim {
    font-size: 7.8vw;
  }
  .page7 .p7-center .p7-content .p7-right .links {
    padding-right: 0vw;
  }
  .page7 .p7-center .p7-content .p7-right .line2 {
    background: rgba(255, 255, 255, 0.396);
    margin: 16vh 0 1vh 0;
  }
  .page7 .p7-center .p7-content .p7-right .links .info-title {
    padding-bottom: 3.2vh;
  }
  .page7 .p7-center .p7-content .p7-right .links .info .title-des {
    font-weight: 500;
    font-size: 2.3vw;
  }
}

@media (max-width: 768px) {
  #loader .wait-msg {
    font-size: 2vw;
  }

  .page1 nav {
    padding: 3vh 2vw;
  }
  .page1 nav .nav-left {
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }
  .page1 nav .nav-left img {
    padding-bottom: 0.8vh;
  }
  .page1 nav .nav-middle {
    display: none;
  }
  .page1 nav .nav-right {
    display: none;
  }

  .page1 .after-nav .center-content {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .page1 .after-nav .center-content .intro-section {
    padding-left: 3vw;
    display: block;
    padding-top: 14vh;
  }
  .page1 .after-nav .center-content .intro-section > span {
    font-size: 3.6vw;
  }
  .page1 .after-nav .center-content .intro-content {
    line-height: 4vh;
  }
  .page1 .after-nav .center-content .intro-content span {
    font-size: 8vw;
  }
  .page1
    .after-nav
    .center-content
    .intro-content
    .web-design
    span:nth-child(2)::after,
  .page1
    .after-nav
    .center-content
    .intro-content
    .web-design
    span:nth-child(1)::after {
    height: 0.6vh;
  }
  .page1 #flag {
    height: 40vw;
    top: 20vh;
    left: 15vw;
  }

  .page2 .video-container {
    height: 85vh;
    width: 100vw;
    top: -21vh;
  }
  .page2 .video-container .play-btn {
    top: 50%;
    right: 50%;
    height: 18vw;
    width: 18vw;
    font-size: 4.5vw;
  }

  .page3 .p3-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5vw 0 0;
  }
  .page3 .p3-top .number {
    width: 0vw;
    font-size: 3.6vw;
    padding-left: 3vw;
  }
  .page3 .p3-top .heading {
    padding-left: 3vw;
    gap: 4vh;
  }
  .page3 .p3-top .heading .title {
    font-size: 8vw;
  }
  .page3 .image-effect-container {
    width: 100%;
    height: 100%;
    padding: 4vh 3vw 7vh 3vw;
  }
  .page3 .image-effect-container .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .page3 .image-effect-container .content .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .page3 .image-effect-container .content .container .c1-box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .page3 .image-effect-container .content .container .c1-box1 .image-box {
    width: 100%;
    height: 120vh;
  }
  .page3 .image-effect-container .content .container .c1-box1 .image-box img {
    width: 100%;
    height: 100%;
  }
  .page3 .image-effect-container .content .container .c1-box1 .c1-tags {
    font-size: 2vw;
  }
  .page3 .image-effect-container .content .container .c1-circle-container {
    display: none;
  }
  .page3 .image-effect-container .content .container2 .c1-box1 .image-box {
    height: 120vh;
  }
  .page3 .image-effect-container .content .container2-3 .c2-gap-2-3 {
    height: 0vh;
  }

  .page3 .image-effect-container .content .container3 .c1-box1 .image-box {
    height: 120vh;
  }
  .page3 .image-effect-container .content .container3 .c2-gap {
    height: 0vh;
  }

  .page4 {
    height: 50vh;
    width: 100%;
    align-items: start;
  }
  .page4 .btn {
    width: 30vw;
    height: 30vw;
  }
  .page4 .btn span {
    font-family: "Silk Serif";
    font-size: 2.1vw;
  }

  .page5 .p5-start {
    flex-direction: column;
  }
  .page5 .p5-start .p5-left {
    width: 0vw;
    padding-left: 3vw;
    font-size: 3.6vw;
  }
  .page5 .p5-start .p5-right {
    width: 100vw;
    padding: 0vw 3vw;
    gap: 4vh;
  }
  .page5 .p5-start .p5-right .p5-topic {
    font-size: 8vw;
  }
  .page5 .p5-start .p5-right .p5-topic-line {
    height: 2px;
  }
  .page5 .p5-start .p5-right .p5-intro {
    font-size: 3.5vw;
    width: 80%;
  }
  .page5 .p5-start .p5-right .p5-details {
    width: 100%;
    position: relative;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.2vw;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text img {
    height: 115vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div {
    font-size: 2vw;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-img-text
    .p5-text
    div:nth-child(1) {
    margin-bottom: 3vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards {
    bottom: -36%;
    width: 100%;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title
    div:nth-child(1) {
    font-size: 2.4vw;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title-des {
    font-size: 1.8vw;
  }
  .page5 .p5-start .p5-right .p5-right-last {
    width: 100%;
  }
  .page5 .p5-start .p5-right .p5-right-last .line {
    margin-top: 66vh;
  }
  .page5 .p5-start .p5-right .p5-right-last .text {
    font-size: 2vw;
    margin-top: 4vh;
  }

  .page6 {
    padding: 10vh 0 22vh 0;
  }

  .page7 {
    height: 120vh;
  }
  .page7 {
    flex-direction: column;
    align-items: start;
  }
  .page7 .p7-center {
    padding: 0 5vw 0 0vw;
  }
  .page7 .p7-center .p7-content {
    flex-direction: column;
    align-items: start;
  }
  .page7 .p7-center .p7-content .p7-left {
    width: 0vw;
    padding-left: 3vw;
    font-size: 3.6vw;
  }
  .page7 .p7-center .p7-content .p7-right {
    padding-left: 3vw;
    gap: 5vh;
  }
  .page7 .p7-center .p7-content .p7-right .hover-anim {
    font-size: 8vw;
  }
  .page7 .p7-center .p7-content .p7-right .line2 {
    margin: 4vh 0 -1vh 0;
  }
  .page7 .p7-center .p7-content .p7-right .links {
    flex-direction: column;
    gap: 3vh;
    padding-right: 0vw;
  }
  .page7 .p7-center .p7-content .p7-right .links .info-title {
    font-weight: 500;
    padding-bottom: 1vh;
  }
  .page7 .p7-center .p7-content .p7-right .links .info .title-des {
    font-weight: 500;
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  #loader .wait-msg {
    font-size: 2.5vw;
  }

  .page1 .after-nav .center-content .intro-section {
    padding-top: 12vh;
  }
  .page1 .after-nav .center-content .intro-section > span {
    font-size: 4.5vw;
  }
  .page1 .after-nav .center-content .intro-content {
    line-height: 3vh;
  }
  .page1 .after-nav .center-content .intro-content span {
    font-size: 9vw;
  }
  .page1 #flag {
    top: 12vh;
  }

  .page2 .video-container {
    top: -38vh;
  }
  .page2 .video-container .play-btn {
    top: 30%;
    right: 40%;
    height: 25vw;
    width: 25vw;
    font-size: 6vw;
  }

  .page3 .p3-top .number {
    width: 0vw;
    padding-left: 3vw;
    font-size: 4.5vw;
  }
  .page3 .p3-top .heading .title {
    font-size: 8vw;
  }
  .page3 .image-effect-container .content .container .c1-box1 .text {
    font-size: 4.5vw;
    font-weight: 600;
  }
  .page3 .image-effect-container .content .container .c1-box1 .image-box {
    height: 65vh;
  }
  .page3 .image-effect-container .content .container .c1-box1 .c1-tags {
    font-size: 3vw;
  }
  .page3 .image-effect-container .content .container2 .c1-box1 .image-box {
    height: 65vh;
  }

  .page4 .btn {
    width: 37vw;
    height: 37vw;
  }
  .page4 .btn span {
    font-size: 3.7vw;
  }

  .page5 .p5-start .p5-left {
    font-size: 4.5vw;
  }
  .page5 .p5-start .p5-right .p5-intro {
    font-size: 4.5vw;
    width: 100%;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.2vw;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text img {
    height: 72vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div {
    font-size: 3vw;
    line-height: 2.2vh;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-img-text
    .p5-text
    div:nth-child(1) {
    margin-bottom: 2vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards {
    bottom: -50%;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title
    div:nth-child(1) {
    font-size: 3vw;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title-des {
    font-size: 2.2vw;
  }
  .page5 .p5-start .p5-right .p5-right-last .line {
    margin-top: 50vh;
  }
  .page5 .p5-start .p5-right .p5-right-last .text {
    font-size: 3vw;
  }

  .page6 {
    padding: 10vh 0 0 0;
  }
  .page6 .p6-elem-1,
  .page6 .p6-elem-2 {
    margin-bottom: -2vh;
  }

  .page7 {
    height: 120vh;
  }
  .page7 {
    flex-direction: column;
    align-items: start;
  }
  .page7 .p7-center {
    padding: 0 5vw 0 0vw;
  }
  .page7 .p7-center .p7-content .p7-left {
    font-size: 4.5vw;
  }
  .page7 .p7-center .p7-content .p7-right .links {
    gap: 4vh;
  }
  .page7 .p7-center .p7-content .p7-right .links .info .title-des {
    font-weight: 500;
    font-size: 5vw;
  }
}

@media (max-width: 360px) {
  .page5 .p5-start .p5-right .p5-details .p5-img-text img {
    height: 54vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div {
    font-size: 3.5vw;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-img-text
    .p5-text
    div:nth-child(1) {
    margin-bottom: 1vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards {
    bottom: -60%;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title
    div:nth-child(1) {
    font-size: 3.3vw;
  }
  .page5
    .p5-start
    .p5-right
    .p5-details
    .p5-awwwards
    .p5-list
    .p5-awwwards-text
    .p5-title-des {
    font-size: 2.5vw;
  }
  .page5 .p5-start .p5-right .p5-right-last .line {
    margin-top: 50vh;
  }
  .page5 .p5-start .p5-right .p5-right-last .text {
    font-size: 3vw;
  }

  .page6 {
    padding: 10vh 0 0 0;
  }
  .page6 .p6-elem-1,
  .page6 .p6-elem-2 {
    margin-bottom: -2vh;
  }

  .page7 {
    height: 120vh;
  }
  .page7 {
    flex-direction: column;
    align-items: start;
  }
  .page7 .p7-center {
    padding: 0 5vw 0 0vw;
  }
  .page7 .p7-center .p7-content .p7-left {
    font-size: 4.5vw;
  }
  .page7 .p7-center .p7-content .p7-right .links {
    gap: 4vh;
  }
  .page7 .p7-center .p7-content .p7-right .links .info .title-des {
    font-weight: 500;
    font-size: 5vw;
  }
}

@media (max-width: 320px) {
  .page5 .p5-start .p5-right .p5-details .p5-img-text img {
    height: 41vh;
  }
  .page6 .p6-elem-1,
  .page6 .p6-elem-2 {
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: -7vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards {
    bottom: -70%;
  }
}

@media (max-width: 280px) {
  .page5 .p5-start .p5-right .p5-details .p5-img-text img {
    height: 37vh;
  }
  .page6 .p6-elem-1,
  .page6 .p6-elem-2 {
    margin-bottom: -8vh;
  }
  .page5 .p5-start .p5-right .p5-details .p5-awwwards {
    bottom: -75%;
  }
}
