* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
  /* cursor: none; */
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0b0b0b;
  z-index: 999;
  padding: 22vh 10vw;
}
#loader .line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1.8vw;
}
#loader .line1 {
  margin-left: 2.5vw;
}
#loader .line3 {
  letter-spacing: 0.15vw;
}
#loader #line1-part1 {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.7vw;
  text-align: center;
  margin-top: 1.3vh;
}
#loader .line1 h1 {
  margin-left: 1.3vw;
}
#loader #line1-part1 h5,
#loader #line1-part1 h6 {
  font-size: 2.8vw;
  font-family: "silk serif";
  font-weight: 300;
}
#loader #line1-part1 h5 {
  width: 4vw;
  text-align: right;
}
#loader .line h1,
#loader .line h2 {
  font-size: 6.3vw;
  text-transform: uppercase;
  font-weight: 700;
}
#loader .wait-msg {
  margin-left: 20vw;
  margin-top: 6vh;
  font-size: 1vw;
}

#crsr {
  position: fixed;
  height: 2.5vw;
  width: 2.5vw;
  border: 2px solid #a4a4a4;
  border-radius: 50%;
  display: none;
  z-index: 999999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#main {
  position: relative;
}
.loader-effect {
  height: 100vh;
  width: 100%;
  background: #000;
}
.page1 {
  height: 100vh;
  width: 100%;
}
.page1 nav {
  padding: 6.3vh 4.5vw;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.page1 nav .nav-left {
  display: flex;
  align-items: start;
  gap: 2.2vw;
}
.page1 nav .nav-left img {
  padding-bottom: 0.8vh;
}
.page1 nav .nav-middle {
  width: 38vw;
  display: flex;
  flex-direction: column;
}
.page1 nav .nav-middle a {
  width: fit-content;
  text-decoration: none;
  font-size: 1vw;
  cursor: none;
}
.page1 nav .nav-right {
  display: flex;
  align-items: center;
  gap: 2.2vw;
}
.page1 nav .nav-right a {
  text-decoration: none;
  font-size: 1vw;
  cursor: none;
}

.page1 .after-nav .center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 .after-nav .center-content .intro-section {
  display: flex;
  align-items: start;
  padding-top: 8.1vh;
}
.page1 .after-nav .center-content .intro-section > span {
  padding-right: 5.4vw;
  font-size: 3vw;
  font-family: "Silk Serif";
}
.page1 .after-nav .center-content .intro-content {
  line-height: 7vh;
  padding-top: 3.4vh;
  padding-right: 4vw;
}
.page1 .after-nav .center-content .intro-content span {
  font-size: 7.2vw;
  font-family: "Plain Regular";
  text-transform: uppercase;
  letter-spacing: -0.2vw;
}
.page1 .after-nav .center-content .intro-content .web-design span:nth-child(1) {
  width: max-content;
  position: relative;
}
.page1 .after-nav .center-content .intro-content .web-design span:nth-child(2) {
  margin-left: 3vw;
  position: relative;
}
.page1
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(2):before {
  content: "/";
  position: absolute;
  color: #ffffff;
  left: -2.6vw;
}
.page1
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(2)::after,
.page1
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2vh;
  background: #ffffff;
  left: 0;
  bottom: 0;
}
.page1 .after-nav .center-content .intro-content .hero-anim {
  display: block;
}

.page1 .scroll-text {
  height: 20px;
  overflow: hidden;
  position: relative;
}
.page1 .scroll-text div {
  position: absolute;
  color: rgba(128, 128, 128, 0.499);
  font-weight: 700;
  font-size: 1vw;
  width: 100%;
  left: 4.5vw;
  animation: scroll-up 2s linear infinite;
}
@keyframes scroll-up {
  0% {
    top: -100%;
  }
  45% {
    top: 0%;
  }
  55% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
.page1
  .after-nav
  .center-content
  .intro-section
  .intro-content
  .web-design
  .wd-text:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.page1
  .after-nav
  .center-content
  .intro-section
  .intro-content
  .web-design
  .wd-text:hover::after {
  opacity: 0;
}

.page2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.page2 .video-container {
  position: relative;
  height: 65vh;
  width: 71.5vw;
  top: -3.2vh;
}
.page2 .video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page2 .video-container img {
  position: absolute;
  top: -1vh;
  height: 102%;
  width: 100%;
  object-fit: cover;
}
.page2 .video-container .play-btn {
  position: absolute;
  top: -17%;
  right: 12vw;
  z-index: 99;
  height: 10vw;
  width: 10vw;
  font-size: 2.4vw;
  border-radius: 50%;
  background: #ffa63d;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .page3 {
  height: 100vh;
  width: 100%;
} */

.page4 {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 .btn {
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  background: #ffa63d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page4 .btn span {
  font-family: "Silk Serif";
  font-size: 1.1vw;
}

.page5 {
  width: 100%;
}
.page5 .p5-start {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.page5 .p5-start .p5-left {
  width: 23vw;
  text-align: right;
  font-family: "Silk Serif";
  font-size: 3.2vw;
}
.page5 .p5-start .p5-right {
  width: calc(100% - 30vw);
  padding-right: 5vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 6vh;
}
.page5 .p5-start .p5-right .p5-topic {
  text-transform: uppercase;
  font-size: 7.4vw;
  font-weight: 800;
}
.page5 .p5-start .p5-right .p5-topic-line {
  width: 100%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.395);
}
.page5 .p5-start .p5-right .p5-intro {
  font-size: 2.3vw;
}
.page5 .p5-start .p5-right .p5-details {
  width: 100%;
  position: relative;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text {
  display: flex;
  align-items: start;
  gap: 2.2vw;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text img {
  height: 82vh;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div {
  font-size: 1vw;
  line-height: 3vh;
}
.page5 .p5-start .p5-right .p5-details .p5-img-text .p5-text div:nth-child(1) {
  margin-bottom: 4vh;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards {
  width: 33.2vw;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4.5vh;
  position: absolute;
  right: 12%;
  bottom: -68%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9vh 0;
  background: #3f7df4;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list {
  width: 76%;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list .p5-awwwards-text {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 4.5vh;
}
.page5
  .p5-start
  .p5-right
  .p5-details
  .p5-awwwards
  .p5-list
  .p5-awwwards-text
  .p5-title
  div:nth-child(1) {
  font-size: 1.6vw;
}
.page5
  .p5-start
  .p5-right
  .p5-details
  .p5-awwwards
  .p5-list
  .p5-awwwards-text
  .p5-title-des {
  font-size: 1vw;
}
.page5 .p5-start .p5-right .p5-details .p5-awwwards .p5-list .p5-list-line {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.392);
}
.page5 .p5-start .p5-right .p5-right-last {
  width: 100%;
}
.page5 .p5-start .p5-right .p5-right-last .line {
  width: 100%;
  height: 2px;
  margin-top: 75vh;
  background: rgba(255, 255, 255, 0.396);
}
.page5 .p5-start .p5-right .p5-right-last .text {
  font-size: 1vw;
  margin-top: 4vh;
}

.page6 {
  width: 100%;
  padding: 10vh 0;
}
.page6 .p6-elem-1,
.page6 .p6-elem-2 {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: -4vh;
}
.page6 .p6-elem-1 h1,
.page6 .p6-elem-2 h1 {
  text-transform: uppercase;
  font-size: 7vw;
  font-weight: 400;
  -webkit-text-stroke: 1px white;
  color: transparent;
  display: inline-block;
  animation: page6Anim 14s infinite linear;
}
.page6 .p6-elem-2 h1 {
  animation-direction: reverse;
}
.page6 .p6-elem-1 h1 span,
.page6 .p6-elem-2 h1 span {
  font-family: "Silk Serif";
  -webkit-text-stroke: 1px white;
  color: transparent;
}
@keyframes page6Anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-100%);
  }
}
