* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #0b0b0b;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0b0b0b;
  z-index: 999;
  padding: 22vh 10vw;
}
#loader .line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 1.8vw;
}
#loader .line1 {
  margin-left: 2.5vw;
}
#loader .line3 {
  letter-spacing: 0.15vw;
}
#loader #line1-part1 {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.7vw;
  text-align: center;
  margin-top: 1.3vh;
}
#loader .line1 h1 {
  margin-left: 1.3vw;
}
#loader #line1-part1 h5,
#loader #line1-part1 h6 {
  font-size: 2.8vw;
  font-family: "silk serif";
  font-weight: 300;
}
#loader #line1-part1 h5 {
  width: 4vw;
  text-align: right;
}
#loader .line h1,
#loader .line h2 {
  font-size: 6.3vw;
  text-transform: uppercase;
  font-weight: 700;
}

#main {
  position: relative;
}
.page1 {
  height: 100vh;
  width: 100%;
  background: #000;
}
.page2 {
  height: 100vh;
  width: 100%;
}
.page2 nav {
  padding: 6.3vh 4.5vw;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.page2 nav .nav-left {
  display: flex;
  align-items: start;
  gap: 2.2vw;
}
.page2 nav .nav-left img {
  padding-bottom: 0.8vh;
}
.page2 nav .nav-middle {
  width: 38vw;
  display: flex;
  flex-direction: column;
}
.page2 nav .nav-middle a {
  width: fit-content;
  text-decoration: none;
  font-size: 1vw;
}
.page2 nav .nav-right {
  display: flex;
  align-items: center;
  gap: 2.2vw;
}
.page2 nav .nav-right a {
  text-decoration: none;
  font-size: 1vw;
}

.page2 .after-nav .center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: purple;
}
.page2 .after-nav .center-content .intro-section {
  display: flex;
  align-items: start;
  padding-top: 8.1vh;
}
.page2 .after-nav .center-content .intro-section > span {
  background: lightcoral;
  padding-right: 5.4vw;
  font-size: 3vw;
  font-family: "Silk Serif";
}
.page2 .after-nav .center-content .intro-content {
  background: peru;
  line-height: 9.4vh;
  padding-top: 3vh;
  padding-right: 5vw;
}
.page2 .after-nav .center-content .intro-content span {
  font-size: 7.2vw;
  font-family: "Plain Regular";
  text-transform: uppercase;
  letter-spacing: -0.2vw;
}
.page2 .after-nav .center-content .intro-content .web-design span:nth-child(1) {
  width: max-content;
  position: relative;
}
.page2 .after-nav .center-content .intro-content .web-design span:nth-child(2) {
  margin-left: 3vw;
  position: relative;
}
.page2
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(2):before {
  content: "/";
  position: absolute;
  color: #ffffff;
  left: -2.6vw;
}
.page2
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(2)::after,
.page2
  .after-nav
  .center-content
  .intro-content
  .web-design
  span:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2vh;
  background: #ffffff;
  left: 0;
  bottom: 0;
}

.page2 .scroll-text {
  height: 20px;
  overflow: hidden;
  position: relative;
}
.page2 .scroll-text div {
  position: absolute;
  color: rgba(128, 128, 128, 0.499);
  font-weight: 700;
  font-size: 1vw;
  width: 100%;
  left: 4.5vw;
  animation: scroll-up 2s linear infinite;
}
@keyframes scroll-up {
  0% {
    top: -100%;
  }
  45% {
    top: 0%;
  }
  55% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
